<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      
      <div class="row">
        <div class="ten wide column centered">
          <div class="ui segment red header">
            <h1>Menu</h1>
          </div>

          <table class="ui red table">
            <tbody>
              <tr *ngFor="let meal of menu">
                <td class="selectable">
                  <a href="#"
                  (click)="this.removeFromMenu(meal)">{{ meal.name }}</a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="ten wide column centered">
          <div class="ui segment yellow header">
            <h1>Recepten</h1>
          </div>

          <table class="ui yellow table">
            <tbody>
              <tr *ngFor="let meal of meals.meals">
                <td class="selectable">
                  <a href="#"
                  (click)="this.addToMenu(meal)">{{ meal.name }}</a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="ten wide column centered">
          <div class="ui teal segment header">
            <h1>Aldi Ingrediënten</h1>
          </div>

          <table class="ui teal table">
            <tbody>
              <tr *ngFor="let ingr of ingrAldiList">
                <td class="selectable">
                  <a href="" class="">{{ingr}}</a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="ten wide column centered">
          <div class="ui blue segment header">
            <h1>Carrefour Ingrediënten</h1>
          </div>
          <table class="ui blue table">
            <tbody>
              <tr *ngFor="let ingr of ingrCarrList">
                <td class="selectable">
                  <a href="" class="">{{ingr}}</a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>