<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="ten wide column centered">
          <div class="ui teal segment header">
            <h1>Aldi Ingrediënten</h1>
          </div>

          <app-create-ingr [version]="'Aldi'" *ngIf="show"></app-create-ingr> 
          <table class="ui teal table">
            <thead>
              <tr>
                <th>Naam</th>
                <th>Label</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ingr of ingrAldi">
                <td class="selectable">
                  <a href="" class="">{{ingr.name}}</a>
                </td>
                <td class="selectable">
                  <a href="" class="">{{getLabel(ingr.label)}}</a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="ui center aligned container">
            <button class="ui circular teal icon button"
              (click)="showCreate()">
              <i class="plus icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>