<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="ten wide column centered">
          <div class="ui teal segment header">
            <h1>Aldi Ingrediënten</h1>
          </div>

          <table class="ui teal table">
            <tbody>
              <tr *ngFor="let ingr of ingrAldi">
                <td class="selectable">
                  <a href="" class="">{{ingr.name}}</a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
  </div>