<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item" routerLink="/" routerLinkActive="">Generator</a>
        <a class="item" routerLink="/Recipes" routerLinkActive="active">Gerechten</a>
        <a class="item" routerLink="/Aldi" routerLinkActive="active">Ingrediënten Aldi</a>
        <a class="item" routerLink="/Carrefour" routerLinkActive="active">Ingrediënten Carrefour</a>
      </div>
    </div>
    <div class="ui text container">
      <h1 class="ui inverted header">JEDSMUMC</h1>
      <h3 class="ui inverted header">a.k.a. Joeri-en-Dorien's-Super-Mega-Ultra-Menu-Creator</h3>
    </div>
  </div>
  
  <router-outlet></router-outlet>

</div>