<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item"
            (click)="this.switchTab(0)">Generator</a>
        <a class="item"
            (click)="this.switchTab(1)">Gerechten</a>
        <a class="item"
            (click)="this.switchTab(2)">Ingrediënten Aldi</a>
        <a class="item"
            (click)="this.switchTab(3)">Ingrediënten Carrefour</a>
      </div>
    </div>
    <div class="ui text container">
      <h1 class="ui inverted header">JEDSMUMC</h1>
      <h3 class="ui inverted header">a.k.a. Joeri-en-Dorien's-Super-Mega-Ultra-Menu-Creator</h3>
    </div>
  </div>
  
  <app-generator *ngIf="this.global.getSelected() === 0"></app-generator>
  <app-recipes *ngIf="this.global.getSelected() === 1"></app-recipes>
  <app-ingr-aldi *ngIf="this.global.getSelected() === 2"></app-ingr-aldi>
  <app-ingr-carr *ngIf="this.global.getSelected() === 3"></app-ingr-carr>

</div>