<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="ten wide column centered">
          <div class="ui yellow segment header">
            <h1>Gerechten</h1>
          </div>

          <table class="ui yellow table">
            <tbody>
              <tr *ngFor="let rec of Recipies">
                <td class="selectable">
                  <a href="" class="">{{rec}}</a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
  </div>