<div class="ten wide column centered">
       <form class="{{classes}}" #form="ngForm" (ngSubmit)="submitForm(form.value)"> 
        <div class="field">
          <label>Ingrediënt</label>
          <input type="text" name="name" placeholder="Ingrediënt" ngModel required>
        </div>
        <div class="field">
          <label>Categorie</label>
          <div class="ui">
              <select class="menu" name="label" ngModel>
                <option *ngFor="let cat of cats" value="{{cat.name}}">{{cat.name}}</option>
              </select>
          </div>
        </div>
        <button class="ui button" type="submit">Voeg toe</button>
      </form>
      </div>